# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBHF4M25jrf3lwg0eQxiiQHdMi-B3kRKkA
VITE_FIREBASE_AUTH_DOMAIN=internrada.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=internrada
VITE_FIREBASE_STORAGE_BUCKET=internrada.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=784772895827
VITE_FIREBASE_APP_ID=1:784772895827:web:c7e8beae606135caafa2a6

# Groq Configuration
VITE_GROQ_API_KEY=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

# EmailJS Configuration (For automated Deadline Urgency Emails)
VITE_EMAILJS_SERVICE_ID=service_7gt7rwh
VITE_EMAILJS_TEMPLATE_ID=template_2mu46r9
VITE_EMAILJS_PUBLIC_KEY=Q49LOMw7t1YB5ZPVI
